*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.25;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

h1, h2, h3, h4{
  text-wrap: balance;
}

img{
  max-width: 100%;
  display: block;
}

.attribution {
  font-size: 0.9rem;
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.rounded-card{
      width: 355px;
      border-radius: 15px;
      overflow: hidden;
      background-color: hsl(0, 0%, 100%);
      box-shadow: 0 10px 20px hsl(220, 15%, 80%);
      padding: 15px;
}

.qr-code-img img{
    border-radius: 15px;
    object-fit: cover;
}

.qr-code-info{
    margin: 20px;
    font-size: 0.9rem;
}

.qr-desc{
    margin:20px;
    color: hsl(220, 15%, 55%);
}
